# this will basically have to be a whitelist .gitignore to maintain compliance
# with Tynan's wishes. It will be a smidge difficult until I get a hang of it


!*
*.sln
*.csproj
Codebase/.vs
Codebase/Ionic.Zlib/
Codebase/Ionic.Crc/
Codebase/NVorbis.NAudioSupport/
Codebase/obj/
Codebase/Properties/
Codebase/Verse.Steam/
Codebase/Verse.Sound/
Codebase/Verse.Profile/
Codebase/Verse.Noise/
Codebase/Verse.Grammar/
Codebase/RuntimeAudioClipLoader/

SkyfallerUtility.cs

Codebase/RimWorld/*
Codebase/RimWorld.BaseGen/*
Codebase/RimWorld.Planet/*

Codebase/Verse/*
Codebase/Verse.AI/*
Codebase/Verse.AI.Group/*

#Allowed
!Codebase/*/*Utility*.cs
!Codebase/*/*Incident*.cs
!Codebase/*/*Storyteller*.cs
!Codebase/*/*Comp*.cs
!Codebase/*/MapPawns.cs
!Codebase/*/Map*.cs
!Codebase/*/*Verb*.cs
!Codebase/*/Thing.cs
!Codebase/*/ThingDef*.cs
!Codebase/*/*Hediff*.cs
!Codebase/*/HediffDef*.cs
!Codebase/*/Find.cs

*Debug*.*